<div class="form-body">
    <div class="name-lable">
        <label  for="name">{{isForDelete? "Are you sure you want to delete?": "Are you sure you want to " + activateStatus +" this user?"}}</label>
    </div>
      
    <div class="modal-footer">
        <button class="btn"  type="submit" value="Submit" (click)="isForDelete? deleteToDo(): completeToDo()">Yes</button>
        <!-- <span style="padding-right: 15px;"></span> -->
        <button type="button" class="btn no" (click)="cancel()">No</button>
    </div>
</div>