
  <div style="height: 100%; width: 100%;">
    <div class="col-8" style="float: left;">
      <form class="form_login">
        <div class="lable_welcome">WELCOME</div>
        <div class="profile_image">
          <div class="ellipse"></div>
          <img class="image" src="../assets/images/user.png"/>
        </div>
        
        <label class="lable_email" id="1:13">Email</label>
        <input type="text" class="textBox">
        <label class="lable_password" id="1:14">Password</label>
        <input type="password" class="textBox">
        <label class="lable_forget_password" id="1:17">Forget password</label>
        <button class="button_submit">Sign in</button>        
      </form>
  </div>
  <div class='imageDiv col-4' >
    <div class="lable_ipark">iPark</div>
  </div>
</div>

  