<app-side-nav-bar [isParking]="true"></app-side-nav-bar>

<div class="main" >
    <div class="header">
        <h2 >Parking Slot</h2>
        <button class="btn" (click)="goBack()">Back</button>
    </div>
    <div class="slot_view">
        <div class="horizontal">
            <div *ngFor="let slot of parkingLot?.slotInfo let i = index" class="parked_slot" [ngClass]="{'free_slot': !slot.status}" (click)="slotInfo(slot, viewvehicle)">
                {{slot.id}}
            </div>
        </div>
    </div>
    
</div>

<ng-template #viewvehicle let-c="close" let-d="dismiss">
    <app-manage-vehicle [isNewVehicle]="false" [onlyView]="true" [slot]="selectedSlot" (isDone)="isDone($event)"></app-manage-vehicle>
</ng-template>